.translateLi{
    width:4rem;
    height:2rem;
    border: 1px solid black;
}

.game{
    margin-top:2rem !important;
    border-radius:15px;
    margin:auto;
    width:28rem;
    height:36rem;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.55);
}

.game .thinking{
 margin-top:50%;
}
.gameHeader{
    width:100%;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    background-color: #1790FF;
    height: 2rem;
    display: inline-flex;
    color:white;
}
.gameHeader i{
    float:left;
}
.gameHeader svg{
    width:1.5rem;
    height:1.5rem;
    margin:0.25rem;
    margin-left:0.4rem;
    margin-right:0.4rem;
}
.lifes{
    width:25%;
}
.displayName{
    width:50%;
    font-size:1.2rem;
}
.bestScore{
    width:25%;
    line-height: 0.9rem;
}

.bestScoreTitle{
    vertical-align: -0.5rem 
}

.gameWords{
    color:black;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.translateBtn{
    margin-top:1rem !important;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.ant-alert{
    padding: 8px 31px 8px 37px !important;
}

.startBtn{
    margin-top:2rem;
}

.mainWord{
    margin-top:0rem;
    color:#1790FF;
    font-size: 3.5rem;
    margin-bottom: -0.1em;
}
.chooseFile{
    padding:10px;
    margin-left:100px;
}

.ant-alert-message{
width:0px;
height:0px;
}

.positiveScore sup{
background: #52C41C !important;
margin-top:1rem;
}

