.dragger{
    width:26rem;
    margin-bottom:2rem;
    margin:auto;
}
.ant-upload{
    top: 1rem;
    margin-bottom: 0.5rem !important;
}
.explanition{
    display: block;
    padding-top: 1rem;
}
.uploadSaveBtn{
    top:2rem;
}